<h1>PerfRig Home Page</h1>
<br />
<h2>Load Tests:</h2>
<ul id="loadtests" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = window.location.origin + '/api/loadtests';

    $(document).ready(function () {
        //Send an AJAX request
        $.getJSON(uri)
            .done(function (data) {
                //On success, 'data' contains a list of load tests.
                $.each(data, function (key, item) {
                    //Add a list item for the load test.
                    $('<li>', { text: item }).appendTo($('#loadtests'));
                });
            });
    });
</script>