<script>
    var loadTestName = window.location.pathname.split('/')[3]
    document.write("<h1>" + decodeURIComponent(loadTestName) + "</h1>");
</script>
<br />
<h2>Web Tests:</h2>
<div id="nav" class="clearfix">
    <ul id="webtests" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var nameUri = window.location.origin + '/api/loadtests/GetWebTests/' + loadTestName;

        $(document).ready(function () {
            //Send an AJAX request
            $.getJSON(nameUri)
                .done(function (data) {
                    //On success, 'data' contains a list of load tests.
                    $.each(data, function (key, item) {
                        //Add a list item for the load test.
                        $('#webtests').append("<li><a href='" + window.location.origin + "/Home/WebTest/" + loadTestName + "/" + item + "'>" + item + "</a></li>");
                    });
                });
        });
    </script>
</div>
<div id="content">
    <div id="visualization"></div>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/displaygraph.js"></script>
    <script>
        displayGraph(window.location.origin + '/api/loadtests/GetLoadTestTimes/' + loadTestName, 'visualization');
    </script>
</div>