<script>
    var loadTestName = window.location.pathname.split('/')[3]
    var webTestName = window.location.pathname.split('/')[4]
    document.write("<h1>" + decodeURIComponent(webTestName) + "</h1>");
</script>
<br />
<h2>Test Run Time</h2>
<div id="visualization"></div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="~/Scripts/displaygraph.js"></script>
<script>
    displayGraph(window.location.origin + '/api/loadtests/GetWebTestTimes/' + loadTestName + '/' + webTestName, 'visualization');
</script>